<h2>{{mainTitle}}</h2>

<form id='formContainer'>
  <div class='mb-3'>
    <label for='formControlInput1' class='form-label'>User</label>
    <input
      type='email'
      name='user'
      class='form-control'
      id='formControlInput1'
      placeholder='name@.com'
    />
  </div>
  <div class='mb-3'>
    <label for='formControlTextarea1' class='form-label'>Message</label>
    <textarea
      class='form-control'
      name='message'
      id='formControlTextarea1'
      rows='3'
    ></textarea>
  </div>
  <button type='button' class='btn btn-danger' id='deleteButton'>Delete messages</button>
  <button type='submit' id='formButton' class='btn btn-primary'>Enviar</button>
</form>

<ul id='messagesContainer'>
</ul>

<script src='/socket.io/socket.io.js'></script>
<script src='/static/scripts/messages.js'></script>